go 1.20

use (
	./数组/二分查找
	./数组/有序数组的平方
	./数组/移除元素
	./数组/螺旋矩阵1
	./数组/螺旋矩阵2
	./数组/长度最小的子数组

	./链表/移除链表元素
	./链表/设计链表
	./链表/反转链表

	./链表/两两交换链表中的节点
	./链表/删除链表的倒数第N个节点
	./链表/链表相交
	./链表/环形链表II

	./哈希表/有效的字母异位词
	./哈希表/两个数组的交集
	./哈希表/快乐数
	./哈希表/两数之和
	./哈希表/四数相加II
	./哈希表/赎金信
	./哈希表/三数之和
	./哈希表/四数之和

	./字符串/反转字符串
	./字符串/反转字符串II
	./字符串/替换空格
	./字符串/反转字符串中的单词
	./字符串/左旋转字符串
	./字符串/找出字符串中第一个匹配项的下标
	./字符串/重复的子字符串

	./双指针/三数之和
	./双指针/删除链表的倒数第N个节点
	./双指针/反转字符串
	./双指针/反转链表
	./双指针/四数之和
	./双指针/替换空格
	./双指针/环形链表II
	./双指针/移除元素
	./双指针/翻转字符串里的单词
	./双指针/链表相交

	./栈与队列/用栈实现队列
	./栈与队列/用队列实现栈
	./栈与队列/有效的括号
	./栈与队列/删除字符串中的所有相邻重复项
	./栈与队列/逆波兰表达式求值
	./栈与队列/滑动窗口最大值
	./栈与队列/前K个高频元素
)
